span,a{
    font-size: calc(12rem/14);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
    padding: 0;
    margin: 0;
}
body{
    background: url("../image/whitebg.jpg") repeat;
    font-family:"Microsoft Yahei" ;
    color: #787978;
}
html,body{
    font-size: 14px;
}
a{
    color:#948C76;
    text-decoration: none;
}
a:hover{
    color:#948C76;
    text-decoration:underline
}
p{
    margin-bottom: 0;
    /*padding-right:1em;*/
    text-align: justify;
}
li{
    list-style: none;
}

.art-img{
    padding: 0;
}
strong{
    color: #80633f;
}
h3{
    font-size:16px;
}
.content{
    padding: 4.29rem 0 ;
    margin: 0 auto;
    width:100%;
}
#top{
    width: 45px;
    height: 45px;
    background: #cccccc;
    border-radius: 5px;
    position: fixed;
    right: 20px;
    bottom: 10%;
    cursor: pointer;
    text-align: center;
    line-height: 45px;
    display: none;
    z-index: 1000;
    opacity: 0.6;
}
#top:hover{
    opacity: 1;
}
.container{
    max-width: 1000px!important;
    position: relative;
}
.header-box{
    height: auto;
    transform: translateY(-2.14rem);
    opacity: 0;
    width:100%;
}
.header-box,p.myid{
    margin-bottom: 2.86rem;
    text-align: center;
}
.header-box img{
    width: 8.57rem;
    height: 8.57rem;
    border-radius: 50%;
}
.fadein{
    transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
    transition: 1s;
}
p.myid{
    font-size: 1.6rem;
    font-weight: 400;
    padding: 0 0.71rem;
    color: #948C76;
    letter-spacing: 0.1em;
    background: #F7F3EE;
    display:inline-block;
    margin-top: 0;
    height: 2.71rem;
    line-height: 2.71rem;
}
.center{
    text-align: center;
}
.my-sort a{
    margin: 0 0.71rem;
}
.my-sort {
    margin: 0 0 5.71rem ;
}
.my-artical .articals{
    width:100%;
    position: relative;
    min-height: 14.29rem;
}
.my-artical img{
    padding-right: 1em;
    margin-bottom: 1em;
}
.articals .like{
    position: absolute;
    top: 2.86rem;
    left:0;
}
.articals .like span{
    padding-left: 1.57rem;
    background: url("../image/sprits.png") no-repeat 0 -13.71rem;
}
.dotts{
    width: 1.2rem;
    height: 1.2rem;
    border: 0.143rem solid #F1F0EE;
    position: absolute;
    top: 0;
    font-size: 0;
    line-height:0;
    border-radius: 50%;
    background: #fdfdfd;
    margin-left: -0.6rem;
    z-index: 10;
}
.articals .ar-container{
    width: 100%;
    padding: 0 0 0 1%;
    position: relative;
}
.my-date,.articals  .my-line,.dotts{
    left: 1%;
}
.ar-content{
    padding: 2.86rem 0 5.72rem 2.86rem;
    overflow: hidden;
}
.ar-container .my-line{
    width: 0.143rem;
    height: 100%;
    background:#F1F0EE;
    position: absolute;
    z-index: 0;
    transition: 0.5s;
}

.my-date {
    display: block;
    position: absolute;
    top: -0.71rem;
    margin-left: 2.86rem;
    height: 2.14rem;
    color: #948C76;
    z-index: 10;
    transition: 0.3s;
}
.my-date span{
    font-size: 0;
    line-height: 0;
}
.my-date span.trig{
    position: absolute;
    left: -1.14rem;
    top: 0;
    border-right: 1.21rem solid #F7F3EE;
    border-top: 1.07rem dashed transparent;
    border-bottom: 1.07rem dashed transparent;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
}
.my-date .dates{
    display: inline-block;
    padding: 0 1rem 0 1.42rem;
    height:2.14rem;
    background: #F7F3EE;
    font-size: 0.86rem;
    vertical-align: top;
    line-height: 2.14rem;

}
.my-date:hover{
    color:#948c76 ;
    margin-left: 2.14rem;
    transition: 0.3s;
}
.my-date:hover span.dates{
    background: #e7d9ba ;
}
.my-date:hover span.trig{
    border-right-color: #e7d9ba;
}
.ar-content a{
    color: #444;
    font-size: 1rem;
}
.art-detail{
    font-size: 12px;
    padding-top: 0.5em;
}
.art-title{
    margin-bottom: 20px;
}
.beian{
    font-size: 12px;
}
.art-img >img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
#artical-detail h4{
    color: #111;
    text-align: center;
    margin-bottom: 3em;
    font-size: 16px;
}
#artical-detail p{
    font-size: 14px;
}
.artical-detail-date{
    color: #948C76;
    margin: 2em 0 5em;
    font-size: 12px;
}
#contain{
    border: 1px solid #f7f3ee;
    margin-bottom: 1em;
}
/*第一篇*/
.stx-header{
    display: none!important;
}
.trian{
    width: 100px;
    height: 100px;
    margin: 2em auto;
}
#text{
    transition: 0.5s;
}
.code{
    max-width: 1000px;
    margin: 1em auto 2em;
}
.code li{
    display: none;
}
#choose{
    text-align: center;
}
#choose li{
    width: auto;
    display: inline-block;
    font-size: 1em;
    height: 2em;
    line-height: 2em;
    padding: 0 0.8em;
    background: #ddd;
    color: #948c79;
    cursor: pointer;
    margin: 0.2em;
}
#choose li:hover,#choose li.current{
    background: #dbe9e7;
    color: #222;
}
.stx-wrap .stx-line-wrap .stx-line-code{
    font-size: 1em;
}
.codebox{
}
.code{

}
#text.up{
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #ddd;
}
#text.down{
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid #ddd;
}
#text.left{
    width: 0;
    height: 0;
    border-bottom: 50px solid transparent;
    border-top: 50px solid transparent;
    border-right: 100px solid #ddd;
}
#text.right{
    width: 0;
    height: 0;
    border-bottom: 50px solid transparent;
    border-top: 50px solid transparent;
    border-left: 100px solid #ddd;
}
#text.tl{
    width: 0;
    height: 0;
    border-top: 100px solid #ddd;
    border-right: 100px solid transparent;
}
#text.tr{
    width: 0;
    height: 0;
    border-top: 100px solid #ddd;
    border-left: 100px solid transparent;
}
#text.bl{
    width: 0;
    height: 0;
    border-bottom: 100px solid #ddd;
    border-right: 100px solid transparent;
}
#text.br{
    width: 0;
    height: 0;
    border-bottom: 100px solid #ddd;
    border-left: 100px solid transparent;
}
.return {
    width: 5em;
    background: #000;
    color: #fff;
    font-size: 1em;
    line-height: 3em;
    cursor: pointer;
    box-shadow: 0 0 2em #ddd;
    border: none;
    float: left;
    margin: 3em;
}
.intro{
    font-size: 1.1em;
    line-height: 1.4em;
    padding: 0 2em;
}
/*第二篇*/
.banner_div{
    width:100%;
    height:auto;
    overflow: hidden;
    position: relative;
}
.banner_img{
    width:400%;
    height:auto;

}
.banner_img li{
    width: 25%;
    height:auto;
    float: left;
}
.banner_img li img{
    width:auto;
    height:auto;
    max-width: 100%;
    max-height:100%;
}
.banner_num{
    position: absolute;
    bottom: 1vh;
    width: 100%;
    text-align: center;
}
.banner_num li{
    float: none;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin:0 5px;
    border-radius: 50%;
    border: 2px solid #d9edf7;
    background: #fff;
    box-sizing: border-box;
    cursor:pointer;
}
.banner_num li.active{
    background: #75aaa2;
    border: 2px solid #fff;
}
/*渐变色*/
#gradients #text{
    width: 100%;
    height:200px;
    margin: 1em 0;
}
#text.ttb{
    background: -webkit-linear-gradient(#fff, #75aaa2); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#fff, #75aaa2); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#fff, #75aaa2); /* Firefox 3.6 - 15 */
    background: linear-gradient(#fff, #75aaa2); /* 标准的语法（必须放在最后） */
}
#text.opac{
    background: -webkit-linear-gradient(rgba(256,256,256,0), #75aaa2); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(rgba(256,256,256,0), #75aaa2); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(rgba(256,256,256,0), #75aaa2); /* Firefox 3.6 - 15 */
    background: linear-gradient(rgba(256,256,256,0), #75aaa2); /* 标准的语法（必须放在最后） */
}
#text.btt{
    background: -webkit-linear-gradient(bottom,#fff, #75aaa2); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(bottom,#fff, #75aaa2); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(bottom,#fff, #75aaa2); /* Firefox 3.6 - 15 */
    background: linear-gradient(to top,#fff, #75aaa2); /* 标准的语法（必须放在最后） */
}
#text.ltr{
    background: -webkit-linear-gradient(left,#fff,#75aaa2);
    background: -moz-linear-gradient(left,#fff,#75aaa2);
    background: -o-linear-gradient(left,#fff,#75aaa2);
    background: linear-gradient(to right,#fff,#75aaa2);/*标准写法（必须放在最后）*/
}
#text.rtl{
    background: -webkit-linear-gradient(right,#fff,#75aaa2);
    background: -o-linear-gradient(right,#fff,#75aaa2);
    background: -moz-linear-gradient(right,#fff,#75aaa2);
    background: linear-gradient(to left,#fff,#75aaa2);/*标准写法（必须放在最后）*/
}
#text.dj{
    background: -webkit-linear-gradient(top left,#fff,#75aaa2);
    background: -o-linear-gradient(top left,#fff,#75aaa2);
    background: -moz-linear-gradient(top left,#fff,#75aaa2);
    background: linear-gradient(to bottom right,#fff,#75aaa2);/*标准写法（必须放在最后）*/
}
#text.colors{
    background: -webkit-linear-gradient(#fff, #a0d6a6, #75aaa2); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#fff,#a0d6a6, #75aaa2); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#fff,#a0d6a6, #75aaa2); /* Firefox 3.6 - 15 */
    background: linear-gradient(#fff,#a0d6a6, #75aaa2); /* 标准的语法（必须放在最后） */
}
#text.repeat{
    background: -webkit-repeating-linear-gradient(#fff 10%,#75aaa2 20%);
    background: -o-repeating-linear-gradient(#fff 10%,#75aaa2 20%);
    background: -moz-repeating-linear-gradient(#fff 10%,#75aaa2 20%);
    background: repeating-linear-gradient(#fff 10%,#75aaa2 20%);/* 标准的语法（必须放在最后） */
}
.stx-scroller{
    min-height: 0!important;
}
.flow{
    margin-top: 3em;
}
#photobox{
    margin: 1em 0;
}
#photobox >div{
    width: 30%;
    padding-bottom: 30%;
    height: 0;
    overflow: hidden;
}
#photobox >div img{
    min-width:100%;
}
/*
    编辑器
*/
#mybjq{
    margin: 2em 0 1em;
}
#mybjq + p{
    margin-bottom: 1em;
}
#alert{
    padding: 5px 20px;
    float: right;
    background: #f7f3ee;
    color: #9e886c;
    border-radius: 5px;
}
/*
    音乐播放
*/
#music {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 10%;
    z-index: 1000;
    cursor: pointer;
    animation: rotate 3s infinite linear;
    -webkit-animation: rotate 3s infinite linear;
}
#music:hover,#music.pause{
    animation: none;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate {
    0%{
        -webkit-transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
    }
}
/*
    手机端轮播
*/
#bannerm{
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
#bannerm ul{
    width: 400%;
    height: 100%;
    overflow: hidden;
}
#bannerm li{
    position: relative;
    width: 25%;
    height: 0;
    padding-bottom: 7.5%;
    overflow: hidden;
    float: left;
}
#bannerm li img{
    width: 100%;
}
#numberI{
    display: block;
    width: 100%;
}
/*
    grid
*/

.grid-box{
    position: relative;
    width: 280px;
    height: 220px;
    overflow: hidden;
    border-radius: 10px;
    border: 10px solid #dee5e1;
    margin: 0 auto;
}

.pic1, .pic2{
    font-size: 0;
    box-sizing: content-box;
    width: 260px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}
.pic1 li{
    width: 50%;
    height: 100px;
    position: relative;
    overflow: hidden;
    float: left;
}

.pic1 li > img{
    position: absolute;
}
 .pic1 li > img,.pic1:hover li > img,.pic2 , .grid-box:hover .pic2{
    transition: all 0.5s ease;
}
.pic1 li:nth-child(1) img{
    left:0;
    top:0;
}
.pic1 li:nth-child(2) img{
    left: -130px;
    top: 0;
}
.pic1 li:nth-child(3) img{
    left:0;
    top: -100px;
}
.pic1 li:nth-child(4) img{
    left: -130px;
    top: -100px;
}
.pic2{
    transform: scale(1.5);
    -o-transform: scale(1.5);
    -moz-transform: scale(1.5);
    background: url("../image/about2.jpg") no-repeat center;
    background-size: cover;
    z-index: -1;
}
.grid-box:hover .pic2{
    transform: scale(1);
    -o-transform: scale(1);
    -moz-transform: scale(1);
    display: block;
}
.pic1:hover li:nth-child(1) img{
    /*向下滑*/
    top:100px;
}
.pic1:hover li:nth-child(2) img{
    /*向左滑*/
    left: -260px;
}
.pic1:hover li:nth-child(3) img{
    /*向左滑*/
    left: 130px;
}
.pic1:hover li:nth-child(4) img{
    /*向上滑*/
    top: -260px;
}
/*
    3d轮播
*/
#fp-box，.fp-img-box li, .fp-img-box{
    width: 100%;
    padding-bottom: 30%;
    height: 0;
}
#fp-box{
    position: relative;
    overflow: hidden;
}
.fp-img-box{
    margin-bottom: 0;
    -webkit-perspective: 800px;
    perspective: 800px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.fp-img-box li{
    position: absolute;
    top:0;
    left: 0;
    visibility: hidden;
}
.fp-img-box li img{
    width: 100%;
}

.fp-num-box{
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
}
.fp-num-box li{
    width: 12px;
    height: 12px;
    background: #fff;
    border: 2px solid #75aaa2;
    display: inline-block;
    border-radius: 50%;
    margin: 0 2px;
    cursor: pointer;
}

.fp-num-box li.active{
    background: #75aaa2;
    border: 2px solid #fff;
}
.fp-img-box li.show{
    visibility: visible;
    z-index: 10;
}
.fp-img-box li.hides{
    z-index: 0;
}
.fp-img-box li.show.right{
    -webkit-animation: showright 1s;
    animation: showright 1s;
}
.fp-img-box li.hides.right{
    -webkit-animation: hideright 1s ;
    animation: hideright 1s ;
}
.fp-img-box li.show.left{
    -webkit-animation: showleft 1s ;
    animation: showleft 1s ;
}
.fp-img-box li.hides.left{
    -webkit-animation: hideleft 1s ;
    animation: hideleft 1s ;
}
@-webkit-keyframes showright {
    0%{ -webkit-transform: translateZ(-200px)}
    50%{ -webkit-transform: translate(40%,0) scale(0.8) rotateY(-30deg)}
    100%{ -webkit-transform: translateZ(0px)}
}
@keyframes showright {
    0%{ transform: translateZ(-200px)}
    50%{ transform: translate(40%,0) scale(0.8) rotateY(-30deg)}
    100%{ transform: translateZ(0px)}
}
@-webkit-keyframes hideright {
    0%{ -webkit-transform: translateZ(0px);visibility: visible;}
    50%{ -webkit-transform: translate(-40%, 0) scale(0.8) rotateY(30deg)}
    100%{ -webkit-transform: translateZ(-200px);visibility: hidden;}
}
@keyframes hideright {
    0%{ transform: translateZ(0px);visibility: visible;}
    50%{ transform: translate(-40% ,0) scale(0.8) rotateY(30deg)}
    100%{ transform: translateZ(-200px);visibility: hidden}
}
@-webkit-keyframes showleft {
    0%{ -webkit-transform: translateZ(-200px)}
    50%{ -webkit-transform: translate(40%, 0) scale(0.8) rotateY(-30deg)}
    100%{ -webkit-transform: translateZ(0px)}
}
@keyframes showleft {
    0%{ transform: translateZ(-200px)}
    50%{ transform: translate(40% ,0) scale(0.8) rotateY(-30deg)}
    100%{ transform: translateZ(0px)}
}
@-webkit-keyframes hideleft {
    0%{ -webkit-transform: translateZ(0px);visibility: visible;}
    50%{ -webkit-transform: translate(-40%, 0) scale(0.8) rotateY(30deg)}
    100%{ -webkit-transform: translateZ(-200px);visibility: hidden;}
}
@keyframes hideleft  {
    0%{ transform: translateZ(0px);visibility: visible;}
    50%{ transform: translate(-40% ,0) scale(0.8) rotateY(30deg)}
    100%{ transform: translateZ(-200px);visibility: hidden}
}


@media screen and (max-width: 768px){
    .my-sort, #artical-detail h4{
        margin-bottom: 3em;
    }
    .ar-content{
        padding-bottom: 4em;
    }

}

@media only screen and (min-width:500px) {

}@media only screen and (min-width:640px) {


}@media only screen and (min-width:768px) {

}@media only screen and (min-width:1020px) {
    .my-artical{
        padding-left: 15%;
    }
}@media only screen and (min-width:1280px) {
    .my-artical{
        padding-left: 15%;
    }
}@media only screen and (min-width:1536px) {
    .my-artical{
        padding-left: 15%;
    }
}

@media only screen and (max-width:450px) {
    .art-detail{
        max-height: 5em;
        overflow: hidden;
    }
}